.logo{
    height: 80px;
}

.navbar{
    background-color: #CCCCCC;
    height: 96px;
}

.botoes-nav button{
    font-family: "Poppins", sans-serif;
    margin-right: 40px;
    border: 0px;
    background-color: none;
    font-weight: 500;
    background-color: #CCCCCC;
}

.hidden-nav{
    background-color: #CCCCCC;
}

.hidden-nav button{
    font-family: "Poppins", sans-serif;
    border: 0px;
    background-color: none;
    font-weight: 500;
    background-color: #CCCCCC;
    width: 100%;
    margin-bottom: 10px;
}

.hidden-nav button:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

