.full-height{
    height: 100vh;
}

.logo{
    height: 80px;
}

.navbar{
    background-color: #CCCCCC;
    height: 96px;
    padding-inline: 20px;
}

.botoes-nav button, .link-login{
    font-family: "Poppins", sans-serif;
    margin: 20px;
    border: 0px;
    background-color: none;
    font-weight: 500;
    background-color: #CCCCCC;
    color: black;
    text-decoration: none;
}

.hidden-nav{
    background-color: #CCCCCC;
}

.hidden-nav button{
    font-family: "Poppins", sans-serif;
    border: 0px;
    background-color: none;
    font-weight: 500;
    background-color: #CCCCCC;
    width: 100%;
    margin-bottom: 10px;
}

.hidden-nav button:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.intro{
    max-height: 400px;
}

.intro button, .btn-signup, .btn-signin{
    height: 56px;
    width: 180px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
    text-decoration: none;
}

.left{
    margin-block: 70px;
}

.left span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  
}

.left p{
    margin-top: 32px;
    margin-bottom: 20px;
    font-family: "Roboto", sans-serif;
  
}

.left button{
    background-color: #000000;
    height: 56px;
    width: 180px;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    border-radius: 4px;
}

.right{
    max-height: 400px;  
}

.right img{
    max-height: 400px;
}

.search{
    border-top: 1px solid black;
}

.search span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    
}

.search input{
    width: 0;
    height: 40px;
    margin-right: 20px;
}

.search form{
    max-width: 700px;
}

.a{
    text-decoration: none;
}

.recommendations{
    background-color: #F8F8F8;
    text-decoration: none;
}

.recommendations span{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    text-decoration: none;
}

.recommendations img{
    max-width: 150px;
}

.recommendations button, .recommendations-button{
    border: 0px;
    background-color: #F8F8F8;
    padding-inline: 30px;
    margin-bottom: 50px;
    color: black;
    text-decoration: none;
}

.recommendations button:hover{
    background-color: #8f8d8d70;
}

.recommendations-button:hover {
    background-color: #8f8d8d70;
}

.page-container footer{
    background-color: #CCCCCC;
}

.media{
    max-width: 200px;
}

.page-login, .page-signup{
    height: 110vh;
}

.form-group{
    margin-right: 40px;
}

.rate{
    margin-left: 80px;
}

.btn-logout{
    margin-left: 10px;
}